<li><a class="nav-link dropdown-toggle" href="javascript:void()" name="navbarDropdown22" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Направления
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown22">
        <a class="dropdown-item" href="/dom_fundament.html">Фундаменты монолитные</a>
        <a class="dropdown-item" href="/dom_santehnicheskie.html">Сантехнические работы</a>
        <a class="dropdown-item" href="/dom_kladka.html">Кладочные работы</a>

    </div>
</li>
<li><a class="nav-link" href="tel:+79600884411" style="font-size: 1.4em;">8 960 088-44-11</a></li>